

 /* Areas of activity  */

 .desktop_applications {
    width: 370px;
}

.mobile_applications {
    width: 370px;
}

.design_solutions {
    width: 370px;
}




/* Team */

.photo_ihor {
    width: 270px;
}

.photo_olha {
    width: 270px;
}

.photo_mykola {
    width: 270px;
}

.photo_mykhailo {
    width: 270px;
}